In [3]:
# Modules needed
import requests
from bs4 import BeautifulSoup
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [40]:
def webscrape():
    """Webscrapes the worldometers website for coronavirus statistics and saves information into textfile"""
    url = 'https://www.worldometers.info/coronavirus/countries-where-coronavirus-has-spread/'

    # gets the url's html
    page_content = requests.get(url)
    soup = BeautifulSoup(page_content.text, 'html.parser')

    web_data = []
    df = pd.DataFrame()
    
    
    # soup.find_all('td') will scrape all elements in the url's table elements
    data_iterator = iter(soup.find_all('td'))

    # Loop that repeats until there is no data left available for the iterator
    while True:
        try:
            country = next(data_iterator).text
            confirmed = next(data_iterator).text
            deaths = next(data_iterator).text
            continent = next(data_iterator).text
            
            new_row = {'country':country, 'confirmed':confirmed, 'deaths':deaths}
            print(new_row)
            # Replaces spaces with underscores in country and continent names to help with saving file content later
            country = country.replace(' ', '_')
            continent = continent.replace(' ', '_')
            # This just adds stats into the list while also replacing the confirmed and deaths into ints
            # NOTE: This creates a list of tuples
            df.append(new_row,ignore_index=False)
            
            web_data.append((country,
                             int(confirmed.replace(',', '')),  # This allows for numbers in millions
                             int(deaths.replace(',', '')),
                             continent
                             ))

        # StopIteration error occurs when there are no more elements to iterate through
        except StopIteration:
            break
    
    
    #  Sorts the data by number of confirmed cases
    web_data.sort(key=lambda row: row[1], reverse=True)
#     df.sort(key=lambda row: row[1], reverse=True)
    f = open('webscrape_data.txt', 'w')
    for tuple_unit in web_data:
        f.write(''.join(str(s) + ' ' for s in tuple_unit) + ' \n')
    print(df.head())
    f.close()
    
    return df

In [41]:
df = 0
df = pd.read_csv('webscrape_data.txt', sep = ' ', encoding='latin-1', names=['Country','Total Cases', 'Total Deaths', 'Continent'])
df

                           Country        Total Cases  Total Deaths  Continent
United_States    34542349   620208      North_America           NaN        NaN
India            30410577   399475               Asia           NaN        NaN
Brazil           18559164   518246      South_America           NaN        NaN
France           5775301    111082             Europe           NaN        NaN
Russia           5514599    135214             Europe           NaN        NaN
...                            ...                ...           ...        ...
Vanuatu          4               1  Australia/Oceania           NaN        NaN
Marshall_Islands 4               0  Australia/Oceania           NaN        NaN
Samoa            3               0  Australia/Oceania           NaN        NaN
Saint_Helena     2               0             Africa           NaN        NaN
Micronesia       1               0  Australia/Oceania           NaN        NaN

[221 rows x 4 columns]

In [42]:
temp = webscrape()

{'country': 'United States', 'confirmed': '34,542,349', 'deaths': '620,208'}

TypeError: Can only append a dict if ignore_index=True

In [33]:
temp.head()

Empty DataFrame
Columns: []
Index: []